.Products-menus {
  overflow: visible;
  background-color: white;
  width: 80%;
  transform: translate(10%, 0);
  font-family: "Gugi", cursive;
}

.Products-menus h3 {
  color: black;
  padding-top: 30px;
}

.Products-list {
  display: inline-block;
  margin-top: 10px;
}

.Products-box {
  display: inline-block;
  width: 200px;
  height: 240px;
  border: 2px solid rgb(7, 7, 7);
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.Products-img {
  width: 196px;
  height: 200px;
}

.Products-content {
  color: white;
  margin: 0;
}
