.Temporary {
  display: flex;
  justify-content: center;
}

.DetailPage {
  display: flex;
  flex-direction: column;
}

.wishbutton {
  border: none;
  background-color: white;
  cursor: pointer;
  text-align: right;
}

.ButtonGroup {
  display: flex;
}

.buybutton {
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

.addbutton {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Products {
    height: 832px;
  }
}
