/* .Home-Container {
  height: 1300px;
} */

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.Slide-container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 30px;
  gap: 56px 0;
  width: 100%;
}

.Slide-img-box,
.Slide-Fimg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
}

.Slide-img,
.Slide-Food-img {
  width: 100%;
  height: 400px;
  box-shadow: 5px -5px 5px gray;
  border: 1px solid black;
  border-radius: 20px;
}

.index-content,
.index-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 400px;
  background-color: white;
  box-shadow: 5px -5px 5px gray;
  border: 1px solid black;
  border-radius: 20px;
}

.index-content-title,
.index-information-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-left: 20px;
  border-bottom: 3px solid gray;
}

.index-content-title button,
.index-information-title button {
  border: none;
  background: none;
  cursor: pointer;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Home {
    height: 700px;
    align-items: flex-start;
  }

  .Slide-container {
    width: 95%;

    gap: 40px 0;
    padding-top: 10px;
  }

  .Slide-img-box,
  .Slide-Fimg-box {
    width: 90%;
    height: 300px;
  }

  .Slide-img,
  .Slide-Food-img {
    width: 100%;
    height: 300px;
  }

  .index-content,
  .index-information {
    height: 300px;
  }

  .index-content .index-content-title,
  .index-information .index-information-title {
    font-size: 10px;
  }
}

@media all and (min-width: 450px) and (max-width: 1439px) {
  .Home {
    background-size: 90% 750px;
  }

  .Slide-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 80px 0;
  }

  .Slide-img {
    width: 100%;
  }

  .Slide-Food-img {
    width: 100%;
  }
}
