.carousel-item {
  height: 650px;
  background-size: cover;
}

.carousel-item.item1 {
  background-image: url(./Images/Gyeongbokgung_Palace.jpg);
  background-position: center center;
}

.carousel-item.item2 {
  background-image: url(./Images/Deoksugung_Seokjojeon.jpeg);
  background-position: center center;
}

.carousel-item.item3 {
  background-image: url(./Images/DeoksugungJeonggwanheon.jpeg);
  background-position: center center;
}

.carousel-item.item4 {
  background-image: url(./Images/BuyongjeongPavilion.png);
  background-position: center center;
}

.carousel-item.item5 {
  background-image: url(./Images/Gwanghwamun.png);
  background-position: center center;
}

.carousel-item.item6 {
  background-image: url(./Images/GyeonghoeruPavilion.png);
  background-position: center center;
}
